html {
    scroll-behavior: smooth;
}

body {
    background-color: greenyellow;
}

.content {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 20px;   
}

.topnav1 {
    text-align: right;
}

.topnav1 ul {
    list-style-type: none;
}

.topnav1 li {
    display: inline;
}

.topnav1 li a {
    color: black;
    font-family: 'Karla', sans-serif;
    text-decoration: none;
    padding: 3px 16px;
    font-size: 20px;
    text-align: center;
    opacity: 1; 
    transition: opacity 0.6s; 
}

.topnav1 li a:hover {
    transition: 0.6s ease;
    opacity: 0.3;
    color: white;
    cursor: pointer;
}
.parent-container {
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.image-gallery {
    display: flex;
    height: 35rem; /* Set the height of the gallery */
    width: 73rem;
    gap: 1rem; /* Add spacing between images */
    
}

.image-gallery > div {
    flex: 1; /* Each div takes equal space initially */
    border-radius: 1rem; /* Round the corners */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Make the background image cover the div */
    transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4); /* Smooth transition effect */
    border: 5px black solid;
}

.image-gallery > div:hover {
    cursor: pointer;
    flex: 3.8; /* Expand the hovered div */
    box-shadow: 10px 25px 50px 0px rgb(0, 89, 255);
}