body {
    background-image: url("image4.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;

}

.title {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: xx-large;        
    margin: 1%;  
}

.topnav1 {
    display: flex;
    justify-content: center;   
    background-color: burlywood;
}
.topnav1 ul {
   list-style-type: none;
}
.topnav1 li {
    display: inline;
}

.topnav1 li a {
    float: left;
    color: black;
    font-family: fantasy;
    text-decoration: none;
    padding: 3px 16px;
    font-size: 25px;
    text-align: center;
}

.topnav1 li a:hover {
    color: white;
}