header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white; /* Solid background color for separation */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
  position: fixed; /* Keep it fixed at the top */
  top: 0;
  width: 100%;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 0.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav a {
  text-decoration: none;
  color: #046307;
  font-size: 1rem;
  transition: color 0.3s;
}

nav a:hover {
  color: #034a05;
  background-color: #ffe498;
  border-radius: 10px;
  padding: 5px;
  transition: 0.09s;
}